.navbar {
    height: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #845EC2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar nav {
    height: 100%;
}

.navbar nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list-item {
    margin-top: 4px;
    margin: 0;
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
}

.list-item a {
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 4px;
    color: white;
    height: 1rem;  
    padding: 1rem 1rem;
    border-bottom: 4px solid transparent;
}

.list-item a:hover,
.list-item a.active {
    background-color: #FF6F91;
    color: white;
}

@media (max-width: 540px) {
.navbar {
    height: 8rem;
}
}

