/* Button: rgb(43,149,89);
Button: #2B9559;

footer:rgb(2,46,26);
footer:#2B9559;

h1, search: #CB9D57;
h1, search: rgb(203,157,87);

logo_search:#42A16B;
logo_search: rgb(203,157,87);

font-size_narvar: #828282;
font-size_narvar:rgb(130,130,130); */



.form-container {
    background: rgb(247, 247, 247);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form-container > div{
    background: white;
    padding: 3px 20px;
    margin: 5px;
    border-radius: 20px;
}
.link_order{
    width: 6rem;
    /* display: inline-table; */
    text-decoration: none;
    border: none;
    background: #845EC2;
    font-family: sans-serif;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 4px;
    margin: 5px;
    height: 2rem;
    padding-top: 5px;
}
.link_order:hover{
    background:#FF6F91;
    border-radius: 4px;
}

.input_search{
    border-radius: 2rem;
    border: solid 1px #845EC2;
    margin-top: 5px;

}

.input_search:hover{
    background: rgb(250, 248, 248);

}
select{
    border-radius: 2rem;
    width:  12rem;
    height: 2rem;
    text-align: center;
    border:none;

}
.disabled{
    background: #FBEAFF;
          pointer-events: none;
}