.container_dogdetail{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    align-items: center;
    background: rgb(250, 248, 248);
    overflow: hidden;

}
.dogdetail h4{
    padding: 6px;
}
.dogdetail_contain{
    height: 45vh;
    object-fit: cover;
    
    object-position: top;
}
.image_dogdetail{
   
    height: inherit;
}

.dates{
    display: flex;
    justify-content: space-evenly;
   
}
.dates p{
    margin: 2px;
    display: flex;
}